@{
    ViewBag.Title = "Acerca de";
}

<p>




</p>

<div class="container">
    <div class="card text-center border-success">
        <div class="card-header text-white bg-success">
            <h2><b>Acerca de</b></h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Para tus mascotas, solo lo mejor.</h5>
            <p class="card-text">
                <hr />
                Somos la mejor opción para su mascota.
                En MedVet tenemos años de experiencia con servicios de alta calidad para el beneficio de la salud de las mascotas en la región.
                <hr class="text-success"/>
                En nuestra clínica veterinaria contamos con servicios de cuidado dental y estética.
                Nuestra atención es de excelencia y personalizada para cada mascota, brindando los tratamientos específicos para mejorar su salud.
                <hr />
                

            </p>
            
        </div>
        <div class="card-footer text-white bg-success">
            <h2><b>VetMed</b></h2>
        </div>
    </div>
</div>
