@{
    ViewBag.Title = "Contacto";
}

<p>




</p>

<div class="container">
    <div class="card border-success">
        <div class="card-header text-white bg-success text-center">
            <h2><b>Contacto</b></h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Ponte en contacto con nosotros a través de los siguientes medios:</h5>
            <p class="card-text text-left">
                <hr />
                

                <address class="m-4 font-italic" style="font-size: 16px">
                    <strong>Avenida 20, Colonia 10.</strong><br />
                    <strong>Tijuana, Baja California.</strong><br />
                    <strong>México.</strong><br />
                    <i class="fas fa-phone text-black mr-4 mt-4"></i>111-1111111<br />
                    <i class="fas fa-mobile-alt text-black mr-4"></i> 222-2222222<br />
                    <i class="fas fa-envelope text-black mr-4"></i>medvet@email.com<br />
                    <i class="fab fa-twitter text-black mr-4"></i>Med_Vet<br />
                    <i class="fab fa-facebook-f text-black mr-4"></i> Med_Vet<br />
                    <i class="fab fa-instagram text-black mr-4"></i>Med_Vet<br />


                </address>
                
                <hr />
            </p>

        </div>
        <div class="card-footer text-white bg-success text-center">
            <h2><b>VetMed</b></h2>
        </div>
    </div>
</div>
